.gamenav {
    font-size: 20px;
    font-family: ו,Arial,Helvetica,sans-serif;
}
.gameordertable{
    border:0;
}

/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {
    padding: 1.3em;
}

.l-vbox {
    padding: 1.3em 0;
}

.l-hbox {
    padding: 0 1.3em;
}

.l-centered {
    text-align: center;
}

