{% extends "base.html" %}
{% block title %}联系本店{% endblock %}

{% block content %}
<div class="splash pure-u-1">
  <div class="pure-g-r">
    <div class="pure-u-1-3">
      <div class="l-box splash-image">
        <img src="/static/image/500x350.gif"
             alt="Placeholder image for example.">
      </div>
    </div>

    <div class="pure-u-2-3">
      <div class="l-box splash-text">
        <h1 class="splash-head">
          本店联系电话：
        </h1>

        <h2 class="splash-subhead">
          联系人：XXXXX <br/>
          联系电话：1234567890 <br/>
          联系QQ：1234567890 <br/>
        </h2>
      </div>
    </div>
  </div>
</div>

{% endblock %}
