{% extends "orderbase.html" %}

{% block title %}修改订单{% endblock %}

{% block ordertable %}
<form class="pure-form" action="." method="post">
  <div class="pure-u-1">
    <h3 align="center">当前预订信息</h3>
    <table align="center" class="pure-table  pure-table-horizontal gameordertable">
      <thead>
        <tr>
          {% for item in tablehead %}
          <th>{{ item }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tr>
        {% for item in tableinfo %}
        {% if not item %}
        <td>&nbsp;</td>
        {% else %}
        <td>{{ item }}</td>
        {% endif %}
        {% endfor %}
      </tr>
    </table>
  </div>

  <br/>
  <h3 align="center">请修改预订时间</h3>
  <div class='pure-u-1' align='center'>
    <table align="center" class="pure-table  pure-table-horizontal gameordertable" >
      <tr>
        <td><label for="id_startdate">日期:</label></td>
        <td class="fieldWrapper" width="40%">{{ form.startdate.errors }}{{ form.startdate }}</td>
        <td><label for="id_starttime">时间:</label></td>
        <td class="fieldWrapper" width="40%">{{ form.starttime.errors }}{{ form.starttime }}</td>
      </tr>
    </table>
  </div>
  <p align="center"><button class="pure-button pure-button-primary" type="submit">提交</button></p>

</form>
{% endblock %}
