{% extends "orderbase.html" %}

{% block title %}预订{% endblock %}

{% block ordertable %}
<form class="pure-form" action="." method="post">
  <h2>第一步：场景选择</h2>
  <div class="pure-u-1" align="center">
    <div class="pure-u-1-2">
      <div class="l-box splash-image">
        <img src="/static/image/500x350.gif"
             alt="Placeholder image for example.">
      </div>
      <label for="option-one" class="pure-radio">
        <input id="option-one" type="radio" name="optionscene" value="场景一" checked>
        场景一
      </label>
    </div>
    <div class="pure-u-1-2">
      <div class="l-box splash-image">
        <img src="/static/image/500x350.gif"
             alt="Placeholder image for example.">
      </div>
      <label for="option-two" class="pure-radio">
        <input id="option-two" type="radio" name="optionscene" value="场景二" >
        场景二
      </label>
    </div>
  </div>

  <p align="center"><button class="pure-button pure-button-primary" type="submit">下一步</button></p>

</form>
{% endblock %}
