{% extends "selectbase.html" %}
{% block orderselect %}
<form method="POST" action="." class="pure-form">
  <fieldset>
    <legend>查询</legend>

    <label>姓名： </label>
    <input name="name" type="text" placeholder="姓名">
    <label>电话号码： </label>
    <input name="phone" type="text" placeholder="电话号码">
    <button type="submit" class="pure-button notice">查询</button>
  </fieldset>
</form>
{% endblock %}

{% block ordertable %}
<legend>个人信息</legend>
<table class="pure-table  pure-table-horizontal gameordertable">
    {% for item1 in curpp %}
  <tr><td>{{ item1 }}</td></tr>
  {% endfor %}
</table>
<p ><button class="pure-button pure-button-primary" href="#">取消预订</button></p>
{% endblock %}
