{% extends "selectbase.html" %}
{% block title %}查询{% endblock %}
{% block admincssjs %}{% endblock %}

{% block orderselect %}
<form method="POST" action="." class="pure-form">
  <fieldset>
    <h2>查询</h2>

    <label>姓名： </label>
    <input name="name" type="text" placeholder="姓名">
    <label>电话号码： </label>
    <input name="phone" type="text" placeholder="电话号码">
    <button type="submit" class="pure-button pure-button-success">查询</button>
  </fieldset>
</form>
{% endblock %}

{% block ordertable %}
<h2 align="center">个人信息</h1>
<table align="center" class="pure-table">
  <thead>
    <tr>
      {% for item in curppname %}
      <th>{{ item }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tr>
    {% for item in curpp %}
    {% if not item %}
    <td>&nbsp;</td>
    {% else %}
    <td>{{ item }}</td>
    {% endif %}
    {% endfor %}
  </tr>
</table>
<p align="center"><a class="pure-button pure-button-primary" href="/contact/">取消预订</a></p>
{% endblock %}
